{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<h3 class = "p-4 text-info">New Question</h3>
<!--
<form class="needs-validation" novalidate>
    <div class="form-group row">
        <label for="Input_title" class="col-sm-1 col-form-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Input_title"
                   placeholder="How to build a Moon park?" required>
            <div class="invalid-feedback">
                Please input title.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="Input_text" class="col-sm-1 col-form-label">Text</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="Input_text" rows="15"
                      placeholder="Place your question here." required></textarea>
            <div class="invalid-feedback">
                Please input your text.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="Input_tags" class="col-sm-1 col-form-label">Tags</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Input_tags"
                   placeholder="moon, park, build" required>
            <div class="invalid-feedback">
                Please input tags.
            </div>
        </div>
    </div>

    <div class = "row">
        <div class = "col-sm-1">
        </div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary mb-2">ASK!</button>
        </div>
    </div>
</form>
-->
<form action="{% url 'ask' %}" method="POST" novalidate>
    {% csrf_token %}
    <table>
    {{ form|crispy }}
    </table>
    <button type="submit" class="btn btn-primary mb-2">ASK!</button>
</form>

{% endblock %}