{% load static %}

<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<title>ASKme</title>
</head>
<body>

<nav class="navbar navbar-light bg-light border-bottom border-info">
	<a class="navbar-brand ml-2 p-2" href="/"><strong class = "text-info "><h1>ASKme</h1></strong></a>
	<form class="form-inline">
		<input class="form-control mr-sm-1 border border-info" type="search"
			   placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Ask!</button>
	</form>
	{% if is_authenticated %}
	<div class="media">
		<img src="{% static 'img/2.jpg' %}" width="64" height="64" class="mr-3 rounded-circle border border-info" alt="...">
		<div class="media-body">
			<h5 class="ml-3">{{user.username}}</h5>
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link text-info" href="{% url 'settings' %}">settings</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-info" href="#">log out</a>
				</li>
			</ul>
		</div>
	</div>
	{% else %}
	<div class="media mr-5">
		<ul class="nav mr-5">
			<li class="nav-item">
				<a class="nav-link text-info" href="{% url 'login'  %}">log in</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-info" href="{% url 'register' %}">register</a>
			</li>
		</ul>
	</div>
	{% endif %}
</nav>

<div class = "container mt-4">
	<div class = "row">
	</div>
	<div class = "row">
		<div class = "col-8">
			{% block content %}{% endblock %}
		</div>
		<div class = "col-md-4 col-12">
			<div class = "alert alert-light">
				<div class = "mb-4">
					<h2 class = "text-info">Popular Tags:</h2>
					<ul class="nav">
						{% block asker_tags %} {% endblock %}
						{% for tag in popular_tags %}
						<li class="nav-item">
							<a class="nav-link text-warning" href="{% url 'tag' tag.tagname %}">{{ tag.tagname }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div>
					<h2 class = "text-info">Users Top:</h2>
					<nav class="nav flex-column">
						{% for user in users_top %}
						<a class="nav-link text-success" href="#">{{ user.user.username}}</a>
						{% endfor %}
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{%static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{%static 'js/popper.min.js' %}"></script>
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(function() {
		'use strict';
		window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();
</script>
</body>
</html>