
{% extends "base.html" %}
{% load static %}

{% block content %}
    <ul class="nav p-4">
        <li class="nav-item ">
            <a class="nav-link text-info active" href="/"><h3>New Questions</h3></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" href="{% url 'hot' %}"><h3>Hot Questions</h3></a>
        </li>
    </ul>

    {% for question in questions %}
        {% include 'inc/question.html' %}
    {% endfor %}

    {% include 'inc/pagination.html' %}
{% endblock %}