{% extends "base.html" %}

{% load static %}

{% block content %}
    <h3 class="p-4 text-info">Log In</h3>
    <div class="d-none">
        Please choose a username.
    </div>
    <form class="needs-validation" novalidate>
        <div class="form-group row mb-4">
            <label for="Input_login" class = "col-sm-2 col-form-label">Login</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="Input_login"
                       placeholder="Enter your login" required>
                <div class="invalid-feedback">
                    Please input login.
                </div>
            </div>
        </div>
        <div class="form-group row mb-4">
            <label for="Input_password" class = "col-sm-2 col-form-label">Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="Input_password"
                       placeholder="Enter your password"  required>
                <div class="invalid-feedback">
                    No password.
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-sm-2">
            </div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary mb-2">Log in!</button>
            </div>
        </div>
        <div class = "row">
            <div class = "col-sm-2">
            </div>
            <div class="col-sm-10">
                <a href="#">create new account</a>
            </div>
        </div>
    </form>
{% endblock %}