{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!--
    <h3 class ="p-4 text-info">Registration</h3>
    <form action="{% url 'register' %}" method="POST" novalidate>
        <div class="form-group row mb-4">
            <div class="col-sm-6">
                {{form.username|as_crispy_field}}
                <div class="invalid-feedback">
                    Please input login.
                </div>
            </div>
        </div>
        <div class="form-group row mb-4">
            
            <div class="col-sm-6">
                {{form.email|as_crispy_field}}
                <div class="invalid-feedback">
                    Please input Email.
                </div>
            </div>
        </div>
        <div class="form-group row mb-4">
            <div class="col-sm-6">
                {{form.password|as_crispy_field}}
                <div class="invalid-feedback">
                    {{ form|as_crispy_errors }}
                </div>
            </div>
        </div>
        <div class="form-group row mb-4">
            <div class="col-sm-6">
                {{form.rep_password|as_crispy_field}}
                <div class="invalid-feedback">
                    {{ form|as_crispy_errors }}
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "col-sm-3">
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary mb-2">Register!</button>
            </div>
        </div>
    </form>
-->
    <form action="{% url 'register' %}" method="POST" novalidate>
        {% csrf_token %}
        <table>
        {{ form|crispy}}
        </table>
        <button type="submit" class="btn btn-primary mb-2">Register!</button>
    </form>
{% endblock %}