
{% load static %}

<div class="media mb-4">
<div>
    <img src="{% static 'img/2.jpg' %}" class="mr-3" alt="...">
    <div class="border mt-2 text-right"style="width: 64px">{{ question.rating }}</div>
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-light btn-sm">&#128077;</button>
        <button type="button" class="btn btn-light btn-sm">&#128078;</button>
    </div>
</div>
    <div class="media-body">
        <h5 class="mt-0"> <a class="text-body" href="{% url 'question' question.id %}">{{ question.title }}</a></h5>
       
        <a class="text-body" href="{% url 'question' question.id %}">{{ question.text }}</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'question' question.id %}#answers">answer({{ question.answ_count }})</a>
            </li>
            <li class="nav-item">
                <span class="nav-link disabled mb-0">Tags:</span>
            </li>
            {% for tag in question.tags.all %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tag' tag.tagname %}">{{tag.tagname}}</a>
            </li>
            {% endfor %}
           
            
        </ul>
    </div>
</div>

